.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  border: purple dashed;
  margin: 2em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 10 em;
  padding: 1em;
  margin: 2em;
  border: green dashed;
}

nav aside {
  border: blue dashed;
  display: flex;
  justify-content: space-evenly;
}

.user-img-avatar {
  border-radius: 50%;
  width: 25px;
  object-fit: cover;
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fit min-max(300px, 1fr));
  grid-gap: 20px;
  text-align: left;
  margin: 2em;
}

.article-card {
  border: red dashed;
  display: flex;
  flex-direction: column;
  max-width: 10 em;
  padding: 1rem;
}

#article-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.topics-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

@media (min-width: 640px) {
  .articles-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}
