.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  background-color: #fffff4;
  list-style-type: none;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

header {
  border-top: mediumslateblue solid;
  border-bottom: mediumslateblue solid;
  padding: 1em;
  position: relative;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 17vw;
  color: darkslateblue;
}

header h2 {
  font-size: 5vw;
  color: #483d8b;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-color: mediumslateblue;
  margin: 1em;
  align-items: center;
}

nav aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.toggle-theme {
  border: solid mediumslateblue;
  border-radius: 50%;
}

.user-img-avatar {
  border-radius: 50%;
  width: 1em;
  object-fit: cover;
  outline: mediumslateblue solid 2px;
  outline-offset: 2px;
  margin-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
}

.articles-list,
.comments-list {
  display: grid;
  grid-template-columns: repeat(auto-fit min-max(300px, 1fr));
  grid-gap: 20px;
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
}

.article-card,
.comment-card {
  border: solid mediumslateblue;
  display: flex;
  flex-direction: column;
  max-width: 10 em;
  padding: 1rem;
}

#article-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#article-title {
  text-transform: uppercase;
  color: darkslateblue;
}

.article-card-body {
  padding: 2px;
}

.article-card-body:hover,
.article-card-body:focus {
  color: darkslateblue;
}

.article-card-snippet {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-card-body,
.single-article-details {
  color: slateblue;
}

.single-article {
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 3em;
}

.single-article-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1em;
}

.single-article-header h2 {
  font-family: "Playfair Display", serif;
  font-size: 7vw;
  color: darkslateblue;
}

.single-article-body {
  border: mediumslateblue solid;
  padding: 10px;
  margin-top: 1em;
}

.single-article-votes {
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-comments-title {
  font-family: "Playfair Display", serif;
  font-size: 5vw;
  color: darkslateblue;
  text-align: left;
  margin-left: 2em;
  margin-bottom: 1em;
}

button.collapse {
  margin: 1em;
  margin-bottom: 3em;
}

button#hide,
.link#hide {
  display: none;
}

button#show,
.link#show {
  display: block;
}

.topics-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

.article-link {
  text-decoration: none;
}

.link {
  margin: 1px;
}

textarea {
  background-color: #eee;
  width: 82%;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.link,
.home,
nav aside,
button,
.comment-input {
  text-decoration: none;
  border: 2px solid slateblue;
  color: darkslateblue;
  font-weight: 700;
  padding: 5px;
}

.link,
.home,
nav aside,
button {
  text-transform: uppercase;
}

.link:focus,
.link:hover,
.home:focus,
.home:hover,
.article-link:focus,
.article-link:hover,
button:hover,
button:focus {
  background-color: darkslateblue;
  color: beige;
  font-weight: lighter;
  outline: solid slateblue;
  outline-offset: 5px;
}

:link:active {
  background-color: darkslateblue;
}

@media (min-width: 750px) {
  .articles-list,
  .comments-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  header h1 {
    font-size: 9vw;
  }
  header h2 {
    font-size: 3vw;
  }
  .single-article {
    margin: 5em;
  }
  .single-article-header h2 {
    font-size: 5vw;
  }
  .single-article-votes {
    justify-content: right;
  }
  .single-article,
  form {
    margin-left: 5em;
    margin-right: 5em;
  }
  .article-comments-title {
    font-size: 3vw;
  }
}
